In [1]:
import pandas as pd
import numpy as np
import warnings
import sys
#warnings.filterwarnings('ignore')

In [5]:
# read data from file
filename = '../data/external/seilas-2022.csv'
df = pd.read_csv(filename, delimiter=';', decimal=',', encoding='ISO-8859-1')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160564 entries, 0 to 160563
Data columns (total 43 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   seilas_id                      160564 non-null  int64
 1   skips_id                       160564 non-null  int64
 2   imo_nummer                     159684 non-null  float64
 3   mmsi_nummer                    159675 non-null  float64
 4   kallesignal                    160366 non-null  object
 5   fartoynavn                     160564 non-null  object
 6   byggeaar                       160368 non-null  float64
 7   bruttotonnasje_bt              160554 non-null  float64
 8   doedvekttonn_dwt               147475 non-null  float64
 9   lengde                         159856 non-null  float64
 10  bredde                         159854 non-null  float64
 11  hoeyde                         23323 non-null   float64
 12  hoeyde_aktuell                 144492 non-null  float64
 13  dypgaaende                     150774 non-null  float64
 14  dypgaaende_aktuell             149508 non-null  float64
 15  skipstype                      160564 non-null  object
 16  skipsgruppe                    160564 non-null  object
 17  landstroem_paa_skipet          63858 non-null   object
 18  flaggkode                      160564 non-null  object
 19  flaggstat                      160564 non-null  object
 20  farlig_last_hazmat             160564 non-null  object
 21  avgangshavn_id                 160564 non-null  int64
 22  avgangshavn_kode               160375 non-null  object
 23  avgangshavn_navn               160564 non-null  object
 24  etd_estimert_avgangstidspunkt  160564 non-null  object
 25  land_avgang                    160564 non-null  object
 26  landkode_avgang_totegn         160564 non-null  object
 27  fylkesnavn_avgang              125042 non-null  object
 28  fylkesnr_avgang                125042 non-null  float64
 29  kommunenavn_avgang             125042 non-null  object
 30  kommunenr_avgang               125042 non-null  float64
 31  lokasjonstype_avgang           160564 non-null  object
 32  ankomsthavn_id                 160564 non-null  int64
 33  ankomsthavn_kode               160372 non-null  object
 34  ankomsthavn_navn               160564 non-null  object
 35  ankomsttidspunkt               160564 non-null  object
 36  land_ankomst                   160564 non-null  object
 37  landkode_ankomst_totegn        160564 non-null  object
 38  fylkesnavn_ankomst             125037 non-null  object
 39  fylkesnr_ankomst               125037 non-null  float64
 40  kommunenavn_ankomst            125037 non-null  object
 41  kommunenr_ankomst              125037 non-null  float64
 42  lokasjonstype_ankomst          160564 non-null  object
dtypes: float64(15), int64(4), object(24)
memory usage: 52.7+ MB

In [7]:
df.head()

,seilas_id,skips_id,imo_nummer,mmsi_nummer,kallesignal,fartoynavn,byggeaar,bruttotonnasje_bt,doedvekttonn_dwt,lengde,...,ankomsthavn_kode,ankomsthavn_navn,ankomsttidspunkt,land_ankomst,landkode_ankomst_totegn,fylkesnavn_ankomst,fylkesnr_ankomst,kommunenavn_ankomst,kommunenr_ankomst,lokasjonstype_ankomst
0,1910084,311277,9349863.0,259222000.0,LNWC,COLOR MAGIC,2007.0,75156.0,6133.0,223.899994,...,DEKEL,Kiel,2022-06-23 10:00:00+02:00,TYSKLAND,DE,NaN,NaN,NaN,NaN,Havn
1,1712083,230941,8826541.0,273437080.0,UENY,GALATIS,1990.0,889.0,414.0,54.820000,...,XZBSE,Barentshavet,2022-01-09 14:00:00+01:00,INTERNASJONALT FARVANN,XZ,NaN,NaN,NaN,NaN,Sted i sjøen
2,1910154,354157,9586617.0,219348000.0,OYPJ2,BERGENSFJORD,2014.0,32491.0,3900.0,170.000000,...,DKHIR,Hirtshals,2022-06-22 19:00:00+02:00,DANMARK,DK,NaN,NaN,NaN,NaN,Havn
3,1910576,205648,8318063.0,257080050.0,LFYQ,BARENTS OCEAN,1984.0,1525.0,1837.0,76.449997,...,NOLAO,Langøya,2022-06-23 16:00:00+02:00,NORGE,NO,Vestfold og Telemark,38.0,Holmestrand,3802.0,Havn
4,1910191,354332,9592575.0,244810617.0,PCYE,REGGEBORG,2014.0,14224.0,23249.0,169.750000,...,NOHRY,Herøya,2022-06-27 20:10:00+02:00,NORGE,NO,Vestfold og Telemark,38.0,Porsgrunn,3806.0,Havn

In [14]:
# some dataset characteristics
columns = ['mmsi_nummer', 'ankomsthavn_navn', 'avgangshavn_navn', 'skipstype', 'skipsgruppe']
for column in columns:
    print(f'{df[column].nunique()} unique {column}')

# print list of ship types and groups
print('\n')
print(f'Ship types: \n {sorted(df.skipstype.unique())}')
print('\n')
print(f'Ship categories: \n {sorted(df.skipsgruppe.unique())}')

4142 unique mmsi_nummer
1595 unique ankomsthavn_navn
1584 unique avgangshavn_navn
97 unique skipstype
6 unique skipsgruppe


Ship types:
 ['Accommodation Platform, semi submersible', 'Accommodation Ship', 'Aggregates Carrier', 'Anchor Handling Tug Supply', 'Anchor Handling Vessel', 'Asphalt/Bitumen Tanker', 'Barge', 'Bulk Carrier', 'Bulk Carrier, Self-discharging', 'Bunkering Tanker', 'Buoy & Lighthouse Tender', 'Buoy Tender', 'CO2 Tanker', 'Cable Layer', 'Cement Carrier', 'Chemical Tanker', 'Chemical/Products Tanker', 'Combination Gas Tanker (LNG/LPG)', 'Container Ship (Fully Cellular)', 'Crane Vessel', 'Crew Boat', 'Crew/Supply Vessel', 'Crude Oil Tanker', 'Crude/Oil Products Tanker', 'Deck Cargo Ship', 'Diving Support Vessel', 'Drilling Rig, jack up', 'Drilling Rig, semi Submersible', 'Drilling Ship', 'FPSO, Oil', 'FSO, Oil', 'Fish Carrier', 'Fish Factory Ship', 'Fish Farm Support Vessel', 'Fishery Patrol Vessel', 'Fishery Research Vessel', 'Fishery Support Vessel', 'Fishing Vessel', 'General Cargo Ship', 'General Cargo Ship, Self-discharging', 'General Cargo/Passenger Ship', 'Grab Dredger', 'Grab Hopper Dredger', 'Heavy Load Carrier', 'Heavy Load Carrier, semi submersible', 'LNG Tanker', 'LPG Tanker', 'Landing Craft', 'Limestone Carrier', 'Live Fish Carrier (Well Boat)', 'Maintenance Platform, semi submersible', 'Molasses Tanker', 'Offshore Support Vessel', 'Offshore Tug/Supply Ship', 'Open Hatch Cargo Ship', 'Palletised Cargo Ship', 'Passenger Ferry', 'Passenger Ship', 'Passenger/Cruise', 'Passenger/Ro-Ro Ship (Vehicles)', 'Passenger/Ro-Ro Ship (Vehicles/Rail)', 'Patrol Vessel', 'Pilot Vessel', 'Pipe Burying Vessel', 'Pipe Carrier', 'Pipe Layer', 'Pipe Layer Crane Vessel', 'Platform', 'Platform Supply Ship', 'Pollution Control Vessel', 'Pontoon', 'Production Testing Vessel', 'Products Tanker', 'Pusher Tug', 'Refrigerated Cargo Ship', 'Research Survey Vessel', 'Ro-Ro Cargo Ship', 'Sail Training Ship', 'Sailing Vessel', 'Salvage Ship', 'Seal Catcher', 'Search & Rescue Vessel', 'Standby Safety Vessel', 'Supply Tender', 'Tanker (unspecified)', 'Trailing Suction Hopper Dredger', 'Training Ship', 'Tug', 'Ukjent', 'Utility Vessel', 'Vegetable Oil Tanker', 'Vehicles Carrier', 'Well Stimulation Vessel', 'Work/Repair Vessel', 'Yacht', 'Yacht (Sailing)', 'Yacht Carrier, semi submersible']


Ship categories:
 ['Auxiliary', 'Fisk', 'Last', 'Passasjer', 'Slep', 'Tank']

In [16]:
# filter data to only contain ships of category 'Last' (= cargo)
df_cargo = df[df['skipsgruppe']=='Last']
df_cargo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 84156 entries, 3 to 160562
Data columns (total 43 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   seilas_id                      84156 non-null  int64
 1   skips_id                       84156 non-null  int64
 2   imo_nummer                     83988 non-null  float64
 3   mmsi_nummer                    83855 non-null  float64
 4   kallesignal                    84012 non-null  object
 5   fartoynavn                     84156 non-null  object
 6   byggeaar                       84099 non-null  float64
 7   bruttotonnasje_bt              84148 non-null  float64
 8   doedvekttonn_dwt               82098 non-null  float64
 9   lengde                         83894 non-null  float64
 10  bredde                         83892 non-null  float64
 11  hoeyde                         9220 non-null   float64
 12  hoeyde_aktuell                 78656 non-null  float64
 13  dypgaaende                     80736 non-null  float64
 14  dypgaaende_aktuell             81905 non-null  float64
 15  skipstype                      84156 non-null  object
 16  skipsgruppe                    84156 non-null  object
 17  landstroem_paa_skipet          25413 non-null  object
 18  flaggkode                      84156 non-null  object
 19  flaggstat                      84156 non-null  object
 20  farlig_last_hazmat             84156 non-null  object
 21  avgangshavn_id                 84156 non-null  int64
 22  avgangshavn_kode               84003 non-null  object
 23  avgangshavn_navn               84156 non-null  object
 24  etd_estimert_avgangstidspunkt  84156 non-null  object
 25  land_avgang                    84156 non-null  object
 26  landkode_avgang_totegn         84156 non-null  object
 27  fylkesnavn_avgang              71828 non-null  object
 28  fylkesnr_avgang                71828 non-null  float64
 29  kommunenavn_avgang             71828 non-null  object
 30  kommunenr_avgang               71828 non-null  float64
 31  lokasjonstype_avgang           84156 non-null  object
 32  ankomsthavn_id                 84156 non-null  int64
 33  ankomsthavn_kode               83996 non-null  object
 34  ankomsthavn_navn               84156 non-null  object
 35  ankomsttidspunkt               84156 non-null  object
 36  land_ankomst                   84156 non-null  object
 37  landkode_ankomst_totegn        84156 non-null  object
 38  fylkesnavn_ankomst             71759 non-null  object
 39  fylkesnr_ankomst               71759 non-null  float64
 40  kommunenavn_ankomst            71759 non-null  object
 41  kommunenr_ankomst              71759 non-null  float64
 42  lokasjonstype_ankomst          84156 non-null  object
dtypes: float64(15), int64(4), object(24)
memory usage: 28.3+ MB

In [21]:
df_cargo[df_cargo['mmsi_nummer'].isnull()]

,seilas_id,skips_id,imo_nummer,mmsi_nummer,kallesignal,fartoynavn,byggeaar,bruttotonnasje_bt,doedvekttonn_dwt,lengde,...,ankomsthavn_kode,ankomsthavn_navn,ankomsttidspunkt,land_ankomst,landkode_ankomst_totegn,fylkesnavn_ankomst,fylkesnr_ankomst,kommunenavn_ankomst,kommunenr_ankomst,lokasjonstype_ankomst
452,1915397,332355,9361744.0,NaN,PGDL,SOLENTBANK,2007.0,2998.0,4950.0,89.949997,...,NOSLV,Sløvåg Industriområde,2022-07-04 16:00:00+02:00,NORGE,NO,Vestland,46.0,Gulen,4635.0,Havn
2260,1956479,200418,8214358.0,NaN,V2HG3,ST. PAULI,1983.0,3075.0,3219.0,92.410004,...,NOSPG,Sarpsborg,2022-09-19 21:00:00+02:00,NORGE,NO,Viken,30.0,Sarpsborg,3003.0,Havn
2446,1959828,200418,8214358.0,NaN,V2HG3,ST. PAULI,1983.0,3075.0,3219.0,92.410004,...,DEWIS,Wismar,2022-09-24 12:00:00+02:00,TYSKLAND,DE,NaN,NaN,NaN,NaN,Havn
3249,1961549,200418,8214358.0,NaN,V2HG3,ST. PAULI,1983.0,3075.0,3219.0,92.410004,...,NOSPG,Sarpsborg,2022-09-26 10:00:00+02:00,NORGE,NO,Viken,30.0,Sarpsborg,3003.0,Havn
3553,1961550,200418,8214358.0,NaN,V2HG3,ST. PAULI,1983.0,3075.0,3219.0,92.410004,...,SEVAG,Varberg,2022-09-28 06:00:00+02:00,SVERIGE,SE,NaN,NaN,NaN,NaN,Havn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160044,1914882,352035,9431006.0,NaN,LAMV8,WILSON NEWCASTLE,2011.0,6118.0,8326.0,123.040001,...,NOIKA,Vikan - Bodø,2022-07-04 23:55:00+02:00,NORGE,NO,Nordland,18.0,Bodø,1804.0,Havn
160131,1969306,352035,9431006.0,NaN,LAMV8,WILSON NEWCASTLE,2011.0,6118.0,8326.0,123.040001,...,NOHOA,Holla,2022-10-16 10:35:00+02:00,NORGE,NO,Trøndelag,50.0,Heim,5055.0,Havn
160193,1829551,352035,9431006.0,NaN,LAMV8,WILSON NEWCASTLE,2011.0,6118.0,8326.0,123.040001,...,NOHOA,Holla,2022-01-23 22:00:00+01:00,NORGE,NO,Trøndelag,50.0,Heim,5055.0,Havn
160267,1835755,352035,9431006.0,NaN,LAMV8,WILSON NEWCASTLE,2011.0,6118.0,8326.0,123.040001,...,NOLEP,Leirpollen,2022-01-31 09:00:00+01:00,NORGE,NO,Troms og Finnmark,54.0,Deatnu Tana,5441.0,Havn
160524,1909862,436144,9891646.0,NaN,LFZK,RONJA VEST,2021.0,4995.0,NaN,87.099998,...,NOSBA,Stord base,2022-06-22 08:30:00+02:00,NORGE,NO,Vestland,46.0,Stord,4614.0,Havn