In [1]:
import pandas as pd
import numpy as np
import warnings
import sys
#warnings.filterwarnings('ignore')

In [2]:
# read data from file
filename = '../data/external/seilas2019.csv'
df = pd.read_csv(filename, delimiter=';', decimal=',', encoding='ISO-8859-1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156709 entries, 0 to 156708
Data columns (total 43 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   seilas_id                      156709 non-null  int64
 1   skips_id                       156709 non-null  int64
 2   imo_nummer                     156020 non-null  float64
 3   mmsi_nummer                    155412 non-null  float64
 4   kallesignal                    156332 non-null  object
 5   fartoynavn                     156709 non-null  object
 6   byggeaar                       156553 non-null  float64
 7   bruttotonnasje_bt              156708 non-null  float64
 8   doedvekttonn_dwt               148086 non-null  float64
 9   lengde                         156709 non-null  float64
 10  bredde                         156646 non-null  float64
 11  hoeyde                         21979 non-null   float64
 12  hoeyde_aktuell                 85012 non-null   float64
 13  dypgaaende                     149718 non-null  float64
 14  dypgaaende_aktuell             149769 non-null  float64
 15  skipstype                      156709 non-null  object
 16  skipsgruppe                    156709 non-null  object
 17  landstroem_paa_skipet          63981 non-null   object
 18  flaggkode                      156709 non-null  object
 19  flaggstat                      156709 non-null  object
 20  farlig_last_hazmat             156709 non-null  object
 21  avgangshavn_id                 156709 non-null  int64
 22  avgangshavn_kode               156525 non-null  object
 23  avgangshavn_navn               156709 non-null  object
 24  etd_estimert_avgangstidspunkt  156709 non-null  object
 25  land_avgang                    156709 non-null  object
 26  landkode_avgang_totegn         156708 non-null  object
 27  fylkesnavn_avgang              121264 non-null  object
 28  fylkesnr_avgang                121264 non-null  float64
 29  kommunenavn_avgang             121264 non-null  object
 30  kommunenr_avgang               121264 non-null  float64
 31  lokasjonstype_avgang           156709 non-null  object
 32  ankomsthavn_id                 156709 non-null  int64
 33  ankomsthavn_kode               156521 non-null  object
 34  ankomsthavn_navn               156709 non-null  object
 35  ankomsttidspunkt               156709 non-null  object
 36  land_ankomst                   156709 non-null  object
 37  landkode_ankomst_totegn        156709 non-null  object
 38  fylkesnavn_ankomst             121369 non-null  object
 39  fylkesnr_ankomst               121369 non-null  float64
 40  kommunenavn_ankomst            121369 non-null  object
 41  kommunenr_ankomst              121369 non-null  float64
 42  lokasjonstype_ankomst          156709 non-null  object
dtypes: float64(15), int64(4), object(24)
memory usage: 51.4+ MB

In [4]:
df.head()

,seilas_id,skips_id,imo_nummer,mmsi_nummer,kallesignal,fartoynavn,byggeaar,bruttotonnasje_bt,doedvekttonn_dwt,lengde,...,ankomsthavn_kode,ankomsthavn_navn,ankomsttidspunkt,land_ankomst,landkode_ankomst_totegn,fylkesnavn_ankomst,fylkesnr_ankomst,kommunenavn_ankomst,kommunenr_ankomst,lokasjonstype_ankomst
0,1306838,285944,9213973.0,257327000.0,LMWR,MALENE S,2000.0,2190.0,2500.0,68.300003,...,XZNAO,Nord-Atlanteren,2019-01-21 17:19:00+01,INTERNASJONALT FARVANN,XZ,NaN,NaN,NaN,NaN,Sted i sjøen
1,1306813,352829,9625023.0,257957000.0,LDWW,SKANDI MAROY,2012.0,3588.0,3594.0,82.199997,...,XZZNO,Ekofisk,2019-01-21 13:00:00+01,INTERNASJONALT FARVANN,XZ,NaN,NaN,NaN,NaN,Offshoreinstallasjon
2,1307030,282727,6721151.0,375219000.0,J8XH6,LOLA 1,1967.0,624.0,838.0,54.970001,...,NOLAO,Langøya,2019-01-23 22:00:00+01,NORGE,NO,Vestfold og Telemark,38.0,Tønsberg,3803.0,Havn
3,1306904,245973,8915524.0,257312000.0,LADP8,SILVER BIRD,1990.0,3625.0,3546.0,92.900002,...,NOTOS,Tromsø,2019-01-22 04:00:00+01,NORGE,NO,Troms og Finnmark,54.0,Tromsø,5401.0,Havn
4,1306954,360227,9750701.0,477150100.0,VRRA7,VLADIMIR RUSANOV,2018.0,128806.0,96844.0,299.000000,...,NOHVG,Honningsvåg,2019-01-24 11:00:00+01,NORGE,NO,Troms og Finnmark,54.0,Nordkapp,5435.0,Havn

In [5]:
# some dataset characteristics
columns = ['mmsi_nummer', 'ankomsthavn_navn', 'avgangshavn_navn', 'skipstype', 'skipsgruppe']
for column in columns:
    print(f'{df[column].nunique()} unique {column}')

# print list of ship types and groups
print('\n')
print(f'Ship types: \n {sorted(df.skipstype.unique())}')
print('\n')
print(f'Ship categories: \n {sorted(df.skipsgruppe.unique())}')

4373 unique mmsi_nummer
1627 unique ankomsthavn_navn
1647 unique avgangshavn_navn
94 unique skipstype
6 unique skipsgruppe


Ship types:
 ['Anchor Handling Tug Supply', 'Anchor Handling Vessel', 'Asphalt/Bitumen Tanker', 'Barge', 'Bulk Carrier', 'Bulk Carrier, Self-discharging', 'Bulk/Caustic Soda Carrier (CABU)', 'Bunkering Tanker', 'Buoy & Lighthouse Tender', 'Buoy Tender', 'CO2 Tanker', 'Cable Layer', 'Cable Repair Ship', 'Cement Carrier', 'Chemical Tanker', 'Chemical/Products Tanker', 'Combination Gas Tanker (LNG/LPG)', 'Container Ship (Fully Cellular)', 'Crane Vessel', 'Crew Boat', 'Crew/Supply Vessel', 'Crude Oil Tanker', 'Crude/Oil Products Tanker', 'Deck Cargo Ship', 'Diving Support Vessel', 'Dredger (unspecified)', 'Drilling Rig, jack up', 'Drilling Rig, semi Submersible', 'Drilling Ship', 'FPSO, Oil', 'Fish Carrier', 'Fish Factory Ship', 'Fish Farm Support Vessel', 'Fishery Research Vessel', 'Fishery Support Vessel', 'Fishing Vessel', 'General Cargo Ship', 'General Cargo Ship (with Ro-Ro facility)', 'General Cargo Ship, Self-discharging', 'General Cargo/Passenger Ship', 'Grab Hopper Dredger', 'Heavy Load Carrier', 'Heavy Load Carrier, semi submersible', 'Hopper, Motor', 'Icebreaker', 'Icebreaker/Research', 'LNG Tanker', 'LPG Tanker', 'Landing Craft', 'Limestone Carrier', 'Live Fish Carrier (Well Boat)', 'Livestock Carrier', 'Molasses Tanker', 'Offshore Support Vessel', 'Offshore Tug/Supply Ship', 'Open Hatch Cargo Ship', 'Palletised Cargo Ship', 'Passenger Ferry', 'Passenger Ship', 'Passenger/Cruise', 'Passenger/Ro-Ro Ship (Vehicles)', 'Patrol Vessel', 'Pilot Vessel', 'Pipe Burying Vessel', 'Pipe Carrier', 'Pipe Layer', 'Pipe Layer Crane Vessel', 'Platform', 'Platform Supply Ship', 'Pollution Control Vessel', 'Pontoon', 'Products Tanker', 'Pusher Tug', 'Refrigerated Cargo Ship', 'Research Survey Vessel', 'Ro-Ro Cargo Ship', 'Sail Training Ship', 'Sailing Vessel', 'Salvage Ship', 'Seal Catcher', 'Standby Safety Vessel', 'Stone Carrier', 'Supply Tender', 'Trailing Suction Hopper Dredger', 'Training Ship', 'Tug', 'Ukjent', 'Utility Vessel', 'Vegetable Oil Tanker', 'Vehicles Carrier', 'Waste Disposal Vessel', 'Well Stimulation Vessel', 'Work/Repair Vessel', 'Yacht']


Ship categories:
 ['Auxiliary', 'Fisk', 'Last', 'Passasjer', 'Slep', 'Tank']

In [6]:
# filter data to only contain ships of category 'Last' (= cargo)
df_cargo = df[df['skipsgruppe']=='Last']
df_cargo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85756 entries, 1 to 156708
Data columns (total 43 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   seilas_id                      85756 non-null  int64
 1   skips_id                       85756 non-null  int64
 2   imo_nummer                     85668 non-null  float64
 3   mmsi_nummer                    85468 non-null  float64
 4   kallesignal                    85711 non-null  object
 5   fartoynavn                     85756 non-null  object
 6   byggeaar                       85681 non-null  float64
 7   bruttotonnasje_bt              85756 non-null  float64
 8   doedvekttonn_dwt               84988 non-null  float64
 9   lengde                         85756 non-null  float64
 10  bredde                         85705 non-null  float64
 11  hoeyde                         9886 non-null   float64
 12  hoeyde_aktuell                 43609 non-null  float64
 13  dypgaaende                     83170 non-null  float64
 14  dypgaaende_aktuell             84108 non-null  float64
 15  skipstype                      85756 non-null  object
 16  skipsgruppe                    85756 non-null  object
 17  landstroem_paa_skipet          28163 non-null  object
 18  flaggkode                      85756 non-null  object
 19  flaggstat                      85756 non-null  object
 20  farlig_last_hazmat             85756 non-null  object
 21  avgangshavn_id                 85756 non-null  int64
 22  avgangshavn_kode               85626 non-null  object
 23  avgangshavn_navn               85756 non-null  object
 24  etd_estimert_avgangstidspunkt  85756 non-null  object
 25  land_avgang                    85756 non-null  object
 26  landkode_avgang_totegn         85755 non-null  object
 27  fylkesnavn_avgang              72333 non-null  object
 28  fylkesnr_avgang                72333 non-null  float64
 29  kommunenavn_avgang             72333 non-null  object
 30  kommunenr_avgang               72333 non-null  float64
 31  lokasjonstype_avgang           85756 non-null  object
 32  ankomsthavn_id                 85756 non-null  int64
 33  ankomsthavn_kode               85624 non-null  object
 34  ankomsthavn_navn               85756 non-null  object
 35  ankomsttidspunkt               85756 non-null  object
 36  land_ankomst                   85756 non-null  object
 37  landkode_ankomst_totegn        85756 non-null  object
 38  fylkesnavn_ankomst             72341 non-null  object
 39  fylkesnr_ankomst               72341 non-null  float64
 40  kommunenavn_ankomst            72341 non-null  object
 41  kommunenr_ankomst              72341 non-null  float64
 42  lokasjonstype_ankomst          85756 non-null  object
dtypes: float64(15), int64(4), object(24)
memory usage: 28.8+ MB

In [7]:
df_cargo[df_cargo['mmsi_nummer'].isnull()]

,seilas_id,skips_id,imo_nummer,mmsi_nummer,kallesignal,fartoynavn,byggeaar,bruttotonnasje_bt,doedvekttonn_dwt,lengde,...,ankomsthavn_kode,ankomsthavn_navn,ankomsttidspunkt,land_ankomst,landkode_ankomst_totegn,fylkesnavn_ankomst,fylkesnr_ankomst,kommunenavn_ankomst,kommunenr_ankomst,lokasjonstype_ankomst
787,1349382,200418,8214358.0,NaN,V2HG3,ST. PAULI,1983.0,3075.0,3219.0,92.410004,...,DEWIS,Wismar,2019-04-25 07:00:00+02,TYSKLAND,DE,NaN,NaN,NaN,NaN,Havn
1053,1349381,200418,8214358.0,NaN,V2HG3,ST. PAULI,1983.0,3075.0,3219.0,92.410004,...,NOSPG,Sarpsborg,2019-04-23 07:00:00+02,NORGE,NO,Viken,30.0,Sarpsborg,3003.0,Havn
1154,1353475,351671,9507374.0,NaN,LXWE,WILSON ALICANTE,2010.0,2451.0,3600.0,88.239998,...,NLRTM,Rotterdam,2019-05-10 19:00:00+02,NEDERLAND,NL,NaN,NaN,NaN,NaN,Havn
1320,1352084,351671,9507374.0,NaN,LXWE,WILSON ALICANTE,2010.0,2451.0,3600.0,88.239998,...,NOMQN,Mo i Rana,2019-04-30 14:49:00+02,NORGE,NO,Nordland,18.0,Rana,1833.0,Havn
1720,1354383,200418,8214358.0,NaN,V2HG3,ST. PAULI,1983.0,3075.0,3219.0,92.410004,...,SEVAG,Varberg,2019-05-06 09:30:00+02,SVERIGE,SE,NaN,NaN,NaN,NaN,Havn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155612,1339878,277096,9174751.0,NaN,NaN,CITY OF AMSTERDAM,1999.0,9950.0,2779.0,99.919998,...,NOZTR,Trondheim Reden,2019-03-31 08:12:00+02,NORGE,NO,Trøndelag,50.0,Trondheim,5001.0,Ankerplass
155708,1339029,277096,9174751.0,NaN,NaN,CITY OF AMSTERDAM,1999.0,9950.0,2779.0,99.919998,...,NOTRD,Trondheim,2019-03-31 16:36:00+02,NORGE,NO,Trøndelag,50.0,Trondheim,5001.0,Havn
155773,1336817,277096,9174751.0,NaN,NaN,CITY OF AMSTERDAM,1999.0,9950.0,2779.0,99.919998,...,NOBGO,Bergen,2019-03-27 08:54:00+01,NORGE,NO,Vestland,46.0,Bergen,4601.0,Havn
155849,1340274,277096,9174751.0,NaN,NaN,CITY OF AMSTERDAM,1999.0,9950.0,2779.0,99.919998,...,BEZEE,Zeebrugge,2019-04-06 12:00:00+02,BELGIA,BE,NaN,NaN,NaN,NaN,Havn
156077,1339877,277096,9174751.0,NaN,NaN,CITY OF AMSTERDAM,1999.0,9950.0,2779.0,99.919998,...,NOZFM,Freifjorden 1 Ankring,2019-04-01 13:30:00+02,NORGE,NO,Møre og Romsdal,15.0,Kristiansund,1505.0,Ankerplass